<suite name="Regression Suite">


    <listeners>
        <listener class-name="kagishomangaba.TestComponents.Listeners"/>
    </listeners>


    <test name="Regression Tests">
        <packages>
            <package name="kagishomangaba.tests.regression"/>
        </packages>
    </test>

</suite>
