<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/ogkag/IdeaProjects/healthcare_selenium_Service"><classes><class name="kagishomangaba.tests.Login"><methods><include name="userCanLogin"/><include name="shouldDisplayErrorMessageForInvalidCredentials"/></methods></class><class name="kagishomangaba.tests.Logout"><methods><include name="userLogOut"/></methods></class><class name="kagishomangaba.tests.regression.AppointmentCreation"><methods><include name="createAppointment"/></methods></class></classes></test></suite>